@font-face{
  font-style: normal;
  font-weight: 400;
}
.root{
    -fx-background-color: #121212;
}
.label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.info-label {
    -fx-alignment: center;
    -fx-font-size: 60px;
}
.button-container {
    -fx-padding: 4em;
}
.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-background-color: #937ac2;
    -fx-text-fill: BLACK;
}
.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77, 102, 204);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.value-container {
    -fx-padding: 6em;
}
.text-field {
    -fx-pref-width: 15%;
    -fx-background-color: #272727;
    -fx-text-alignment: center;
    -fx-text-fill: WHITE;
}
.button-container {
    -alignment: center;
    -fx-padding: 6em;
}

/*
* Help button
*/
.help-button {
    -fx-background-color: transparent;
    -fx-padding: 15 25 0 0;
}
.help-button > .arrow-button {
    -fx-padding: 0;
}
.help-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.help-button > * > .context-menu {
    -fx-color: -fx-base;
    -fx-background-color: #272727;
    -fx-padding: 0;
}
.help-button > * > .context-menu:focused {
    -fx-color: -fx-base;
    -fx-background-color: #272727;
    -fx-padding: 0;
}
.context-menu {
    -fx-padding: 0;
}
.context-menu:focused {
     -fx-background-color: red;
}

.help-button > * > .context-menu > .menu-item {
     -fx-background: red;
     -fx-background-color: red;
     -fx-text-fill: -fx-selection-bar-text;
}

/*
* Line chart
*/
.line-chart {
    -fx-background-color: transparent;
    -fx-legend-visible: false;
    -fx-create-symbols: false;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.default-color0.chart-series-line {
    -fx-stroke: #937ac2;
}
.default-color1.chart-series-line {
    -fx-stroke: #7A1DFF;
}
.default-color2.chart-series-line {
    -fx-stroke: #8F36B7;
}
.default-color3.chart-series-line {
    -fx-stroke: #937ac2;
}
.default-color4.chart-series-line {
    -fx-stroke: #5820BE;
}
.default-color5.chart-series-line {
    -fx-stroke: #4C19A8;
}

/*
* Chart grid
*/
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.axis-tick-mark {
    -fx-stroke: transparent;
}
.axis-minor-tick-mark {
    -fx-stroke: transparent;
}
.axis:left {
    -fx-stroke: transparent;
    -fx-border-color: #121212;
}
.axis:bottom {
    -fx-stroke: transparent;
    -fx-border-color: #121212;
}
