@font-face{
  font-style: normal;
  font-weight: 400;
}
.root{
    -fx-background-color: linear-gradient(to bottom right, #2c3e50, #3498db);
    background: black;
}
.label{
    -fx-text-fill: white;
}
.app-title{
    -fx-font: 36px 'Glorious Free';
}
.text-field {
  -fx-border-color: grey;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
}
.text-field:focused {
    -fx-border-color: -fx-focus-color;
}